.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: green;
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo h2 {
  margin: 0;
  cursor: pointer;
}

.nav-links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: underline;
}

.user-section {
  display: flex;
  align-items: center;
}

.logout-btn {
  margin-left: 10px;
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  background-color: darkred;
  color: white;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #e33b3b;
}